<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MorseCode.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MorseCode.UI.Properties.Settings>
            <setting name="Dot" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Dash" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="CharSpace" serializeAs="String">
                <value />
            </setting>
            <setting name="WordSpace" serializeAs="String">
                <value />
            </setting>
            <setting name="DashSense" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SpaceSense" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="IsMuted" serializeAs="String">
                <value>False</value>
            </setting>
        </MorseCode.UI.Properties.Settings>
        <Tester.Properties.Settings>
            <setting name="dot" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="dash" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="CharSpace" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="WordSpace" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="DashSense" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SpaceSense" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="IsMuted" serializeAs="String">
                <value>False</value>
            </setting>
        </Tester.Properties.Settings>
    </userSettings>
</configuration>